.teams__header {
  padding: 10px;
}

.conference__header {
  padding: 10px;
  background-color: #666666;
  color: #ffffff;
}

.division__header {
  padding: 10px;
  background-color: #cccccc;
}

.division__item {
  padding: 10px 10px 0;
}

.division__item:last-of-type {
  padding-bottom: 10px;
}

.division__link {
  color: inherit;
}

.division__link:not(:hover) {
  text-decoration: none;
}
